@use "../_global.scss";

@media (min-width: 0px) {
    $fontSize: 1rem;
    $fontSizeHeader: 1.8rem;


    .iconedParagraph {
        display: flex;
        align-items: center;
        color: global.$textColor;
    
        // The default image settings
        img {
            width: 30px;
            padding-right: 10px;
        }
    
        .mainIcon {
            width: 40px;
        }
    
        // When it is not a main icon paragraph
        span {
            font-size: $fontSize;
        }
    
        // When the icon paragraph is a main one
        a {
            text-decoration: none;
            color: global.$textColor;
            font-size: $fontSize + 0.3rem;
        }
    }


    .yellowLineHeader {
        padding: 1em 0;
        max-width: 400px;

        h1 {
            color: global.$textColor;
            font-size: $fontSizeHeader;
        }

        hr {
            margin-top: 0.5rem;
            max-width: 200px;
            background-color: global.$yellowLineColor;
            height: 4px;
            border: none;
            margin-left: 15px;
        }
    }
}