@use "../_global.scss";


$redLineColor: global.$redLineColor;
$yellowLineColor: global.$yellowLineColor;
$webpageBackgroundColor: global.$webpageBackgroundColor;
$topBackgroundColor: linear-gradient(183.41deg, rgba(35, 35, 35, 0.040515) 72.14%, rgba(36, 36, 36, 0) 72.14%, #000000 96.98%), #222121;
$textColor: global.$textColor;


@media (min-width: 0px) {
    $fontSize: 0.9rem;
    $fontSizeHeader: 1.6rem;
    $lineHeight: 1.5rem;


    /*
        Contact Info & Image Section
    */
    
    #frontView {
        background: linear-gradient(to bottom, rgba(36, 36, 36, 1) 80%, #000000 100%);
        color: $textColor;
    }


    #websiteEntryFirst {
        padding: 2em 0;

        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 0.2em auto;
            display: block;
        }

        h2 {
            text-align: center;
            margin-top: 1em;
            font-size: $fontSizeHeader;
        }

        p {
            padding-top: 0.5rem;
            text-align: center;
            font-size: $fontSize;
        }
    }


    #websiteEntrySecond {
        width: 85%;
        margin: 1em auto;

        h2 {
            width: fit-content;
            width: -moz-fit-content;
            width: -webkit-fit-content;
            font-size: $fontSizeHeader;
            border-bottom: 3px solid $redLineColor;
        }

        p {
            text-align: center;
            margin: 1.2em 0;
            font-size: $fontSize;

            a {
                font-size: $fontSize;
                transition: color 0.5s;

                &:hover {
                    color: lighten($textColor, 10%);
                }
            }
        }
    }


    #navigation {
        nav {
            max-width: 280px;
            margin: 0 auto;
            padding: 2em 0 1em 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            a {
                font-size: $fontSize;
                color: $textColor;
                text-decoration: none;
                transition: color 0.5s;
                

                &:hover {
                    color: lighten($textColor, 10%);
                }
            }

            div {
                height: 20px;
                width: 2.5px;
                background-color: $redLineColor;
            }
        }
    }


    #darkBackground {
        background-color: $webpageBackgroundColor;
        color: $textColor;
    }


    .headerPadding {
        margin-left: 20px;
    }


    /*
        Finished & Planned Projects Section
    */

    #projectsHolder {
        padding: 3em 0;
        margin: 0 auto;
        max-width: 1200px;
    }


    /*
        Programming Skills Section
    */

    #skills {
        width: 80%;
        margin: 0 auto;
    }


    /*
        About Section
    */

    #aboutContainer {
        margin: 0 auto;
        padding-bottom: 2.5em;
    }


    #projectsHolder, #skillList, #aboutContainer {
        padding-top: 1.5rem
    } 
}


@media (min-width: 500px) {
    #websiteEntrySecond {
        width: 75%;
    }
}


@media (min-width: 600px) {
    $fontSize: 1.2rem;
    $lineHeight: 1.7rem;


    #mainWebsiteEntry {
        padding: 2em 0;
        margin: 0 auto;
        width: 90%;
        max-width: 900px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-direction: row;

        div {
            width: 40%;
            margin: 0;
        }
    }

    
    #websiteEntrySecond {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            margin: 0 auto;
        }

        p {
            a {
                font-size: $fontSize;
            }
        }
    }


    #navigation>nav>a {
        font-size: $fontSize - 0.1rem;
    }


    .aboutMeParagraph {
        width: 80%;
        margin: 0 auto;
        line-height: $lineHeight;
    }
}

@media (min-width: 900px) {
    #projectsHolder {
        padding: 5em 0;
    }


    #skills {
        display: flex;
        justify-content: space-around;
    }


    #skillList {
        max-width: 1200px;
        margin: 0 auto;
    }


    #leftSidedSkills {
        width: 50%;
    }

    
    #rightSidedSkills {
        width: 50%;
    }


    #aboutContainer {
        max-width: 1200px;
        width: 100%;
    }
}