@use "../_global.scss";


$redLineColor: global.$redLineColor;
$yellowLineColor: global.$yellowLineColor;
$webpageBackgroundColor: global.$webpageBackgroundColor;
$topBackgroundColor: linear-gradient(183.41deg, rgba(35, 35, 35, 0.040515) 72.14%, rgba(36, 36, 36, 0) 72.14%, #000000 96.98%), #222121;
$textColor: global.$textColor;


@media (min-width: 0px) {
    $fontSize: 0.9rem;
    $fontSizeHeader: 1.6rem;
    $lineHeight: 1.5rem;


    #frontView {
        background: linear-gradient(to bottom, rgba(36, 36, 36, 1) 80%, #000000 100%);
        color: $textColor;
    }


    #websiteEntryFirst {
        padding: 2em 0;

        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 0.2em auto;
            display: block;
        }

        h2 {
            text-align: center;
            margin-top: 1em;
            font-size: $fontSizeHeader;
        }

        p {
            text-align: center;
            font-size: $fontSize;
        }
    }


    #websiteEntrySecond {
        width: 85%;
        margin: 1em auto;

        h2 {
            width: fit-content;
            width: -moz-fit-content;
            width: -webkit-fit-content;
            font-size: $fontSizeHeader;
            border-bottom: 3px solid $redLineColor;
        }

        p {
            text-align: center;
            margin: 1.2em 0;
            font-size: $fontSize;

            a {
                font-size: $fontSize;
                transition: color 0.5s;

                &:hover {
                    color: lighten($textColor, 10%);
                }
            }
        }
    }


    #navigation {
        nav {
            max-width: 280px;
            margin: 0 auto;
            padding: 2em 0 1em 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            a {
                font-size: $fontSize;
                color: $textColor;
                text-decoration: none;
                transition: color 0.5s;
                

                &:hover {
                    color: lighten($textColor, 10%);
                }
            }

            div {
                height: 20px;
                width: 2.5px;
                background-color: $redLineColor;
            }
        }
    }


    #darkBackground {
        background-color: $webpageBackgroundColor;
        color: $textColor
    }


    .headerPadding {
        margin-left: 20px;
    }


    #projectsHolder {
        padding: 3em 0;
        margin: 0 auto;
        max-width: 1200px;
    }


    .projectContainer {
        display: flex;
        flex-direction: column;
        color: $textColor;
        width: 80%;
        max-width: 280px;
        margin: 2em auto;
        border-radius: 12px;
        overflow: hidden;
    }

    .imageHolder {
        overflow: hidden;
        position: relative;

        &:hover .projectImage {
            transform: scale(1.1);
        }
    }

    .projectImage {
        background-color: rgba(255, 255, 255, 0.479);
        height: 120px;
        background-repeat: no-repeat;
        background-size: cover;
        transition: transform 0.5s;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .projectView {
        background: linear-gradient(180deg, #222222 0%, rgb(124, 124, 124) 50%, #222121 100%);
        width: 100px;
        display: flex;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        p {
            margin: 0 auto;

            a {
                font-size: 0.9em;
            }

            img {
                height: 25px;
                width: 25px !important;
            }
        }
    }


    .projectDescription {
        position: relative;
        height: 150px;
        overflow: hidden;
        background: rgb(32, 32, 32);

        &>div {
            height: 50px;
            width: 100%;
            position: absolute;
            bottom: 0;
            background: linear-gradient(0deg, rgb(32, 32, 32) 0%, rgba(32, 32, 32, 0.7) 70%,  rgba(32, 32, 32, 0.20) 100%);;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            p {
                text-align: right;
                text-decoration: underline;
                margin-right: 10px;
                cursor: pointer;
                padding: 0 0 5px 15px;
            }
        }

        &>p {
            margin: 0.3em;
        }
    }


    #skills {
        width: 80%;
        margin: 0 auto;
    }


    .skillSet {
        padding: 1.4em 0;

        h2 {
            padding: 0.5em 0;
        }

        p {
            padding: 0.5em 0;
        }
    }
}


@media (min-width: 500px) {
    #websiteEntrySecond {
        width: 75%;
    }
}


@media (min-width: 600px) {
    $fontSize: 1.2em;

    #mainWebsiteEntry {
        padding: 2em 0;
        margin: 0 auto;
        width: 90%;
        max-width: 900px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-direction: row;

        div {
            width: 40%;
            margin: 0;
        }
    }

    #websiteEntrySecond {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            margin: 0 auto;
        }

        p {
            a {
                font-size: $fontSize;
            }
        }
    }

 
    .projectContainer {
        flex-direction: row;
        max-width: 500px;
        width: 500px;
    }


    .imageHolder {
        width: 40%;
    }


    .projectImage {
        height: 100%;
        width: 100%;
        background-position: center;
    }


    .projectDescription {
        width: 60%;

        &>p {
            margin-left: 10px;
        }
    }
}

@media (min-width: 900px) {
    #projectsHolder {
        padding: 5em 0;
    }


    .projectContainer {
        margin: 2em 0;
    }


    .firstDiv {
        margin: 2em calc(50% - 100px) 2em calc(50% - 400px);
    }


    .secondDiv {
        margin: 2em auto;
    }

  
    .thirdDiv {
        margin: 2em calc(50% - 400px) 2em calc(50% - 100px);
    }


    #skills {
        display: flex;
        justify-content: space-around;
    }

    #skillList {
        max-width: 1200px;
        margin: 0 auto;
    }

    #leftSidedSkills {
        width: 50%;
    }

    #rightSidedSkills {
        width: 50%;
    }
}