@use "./_global.scss";


html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    box-sizing: content-box;
    font-family: global.$fontFamily;
}


.fadeInTop {
    animation-name: fadeInTop;
}


@keyframes fadeInTop {
    0% {opacity: 0; transform: translateY(-10%)}
    100% {opacity: 1; transform: translateY(0%)}
}


.fadeInLeft {
    animation-name: fadeInLeft;
}


@keyframes fadeInLeft {
    0% {opacity: 0; transform: translateX(-10%)}
    100% {opacity: 1; transform: translateX(0%)}
}